@use '@carbon/themes/scss/themes';
@use '@carbon/themes/scss/theme';

html, body {
  height: 100%;
}

body {
  font-family: 'Inter var', 'Roboto', arial, sans-serif;
  color: var(--on-background);
  background: var(--background);
  margin: 0;
}

:root {
  --background: #fefefe;
  --on-background: #222;
  @include theme.theme(themes.$g10);
}

main, #window {
  height: 100%;
}

@media(prefers-color-scheme: dark) {
  :root {
    --background: #222;
    --on-background: #fefefe;
    @include theme.theme(themes.$g100);
  }
}